<%- include('../port/layout-start', { books: books }) %>
<%- include('../port/menu') %>

<h1><%= books.title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Кол-во просмотров страницы: <%= count  %></p>
                <p class="card-text">Жанр: <%= books.description %></p>
                <p class="card-text">Автор: <%= books.authors %></p>
                <p class="card-text">В избранном: <%= books.favorite %></p>
                <p class="card-text">Обложка: <%= books.fileCover %></p>
                <p class="card-text">Имя файла: <%= books.fileName %></p>
                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/mod/books/update/<%= books.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/mod/books/delete/<%= books.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../port/layout-end') %>